@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: black;
  --secondary-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* * * * * * * * * * * * *
          Tab Guide
 * * * * * * * * * * * * */
.tab-guide-container {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  text-align: center;
  justify-content: space-evenly;
  width: 100vw;
}

.tab-header-container {
  display: flex;
  height: 3em;
  padding-bottom: .5em;
}

.tab-header-container .tab-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: .5em .5em;
  border: 1px solid var(--primary-color);
  margin-right: -1px;
  margin-bottom: -1px;
  font-weight: 700;
}

.tab-number-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 50px;
  padding: .5em 0;
}

.tab-list-container {
  width: 150px;
}

.tab-list-container li {
  list-style: none;
}

.tab-list-container li:nth-child(2) {
  font-size: 20px;
}

.material-divider {
  height: 1px;
  width: 50px;
  margin: auto;
  background-color: var(--primary-color);
  border: none;
}

.tab-info {
  padding-top: 1.5em;
}

.tab-active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.tab-inactive {
  display: none;
}




/* * * * * * * * * * * * *
          Accordian Guide
 * * * * * * * * * * * * */
.accordian-guide-container {
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.accordian-guide-container .accordian-header {
  font-weight: 700;
  padding-left: 1.3em;
}

.accordian-divider {
  border: none;
  background-color: var(--primary-color);
  height: 1px;
}

.accordian-header-container {
  display: flex;
  flex-direction: column;
  padding: .8em 0;
}

.accordian-number-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
}

.accordian-list-container {
  padding: .5em 0;
}

.accordian-list-container li {
  list-style: none;
}

.accordian-list-container li:nth-child(2) {
  font-size: 20px;
}

.accordian-info {
  padding: 1em 1.3em;
}

.accordian-inactive {
  display: none;
}

.accordian-header {
  position: relative;
}

.accordian-header::after {
  content: '+';
  font-size: 22px;
  position: absolute;
  font-weight: 400;
  right: 10px;
  top: 2px;
}

.accordian-active::after {
  content: '-';
  font-weight: 400;
  right: 14px;
  top: 3px;
}


@media (min-width: 767px) {
  .tab-guide-container {
    width: 800px;
  }

  .accordian-guide-container {
    width: 800px;
  }
}

@media (max-width: 400px) {
  .tab-guide-container {
    width: 100%;
  }

  .tab-header-container {
    flex-direction: column;
    padding-bottom: 8em;
  }

  .tab-number-container {
    flex-direction: column;
  }

  .accordian-number-container {
    flex-direction: column;
    text-align: center;
  }
}